<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Delivra_DelivraWebHook>
            <version>0.0.9</version>
        </Delivra_DelivraWebHook>
    </modules>
    <frontend>
        <routers>
            <delivrawebhook>
                <use>standard</use>
                <args>
                    <module>Delivra_DelivraWebHook</module>
                    <frontName>delivrawebhook</frontName>
                </args>
            </delivrawebhook>
        </routers>   
    </frontend>
    <global>
        <blocks>
            <delivrawebhook>
                <class>Delivra_DelivraWebHook_Block</class>
            </delivrawebhook>                         
        </blocks>
        <models>
            <delivrawebhook>
                <class>Delivra_DelivraWebHook_Model</class>
                <resourceModel>delivrawebhook_resource</resourceModel>
            </delivrawebhook>
            <delivrawebhook_resource>
                <class>Delivra_DelivraWebHook_Model_Resource</class>
                <entities>
                    <queue>
                        <table>delivrawebhook_queue</table>
                    </queue>
                    <cart>
                        <table>delivrawebhook_cart</table>
                    </cart>
                </entities>
            </delivrawebhook_resource>
        </models>
        <events>
            <sales_order_save_after>
                <observers>
                    <Delivra_DelivraWebHook_Model_Observer>
                        <class>Delivra_DelivraWebHook_Model_Observer</class>
                        <method>saveOrder</method>
                    </Delivra_DelivraWebHook_Model_Observer>
                </observers>
            </sales_order_save_after>
            <sales_order_place_after>
                <observers>
                    <Delivra_DelivraWebHook_Model_Observer>
                        <class>Delivra_DelivraWebHook_Model_Observer</class>
                        <method>postOrder</method>
                    </Delivra_DelivraWebHook_Model_Observer>
                </observers>
            </sales_order_place_after>
            <sales_order_payment_cancel>
                <observers>
                    <Delivra_DelivraWebHook_Model_Observer>
                        <class>Delivra_DelivraWebHook_Model_Observer</class>
                        <method>cancelOrder</method>
                    </Delivra_DelivraWebHook_Model_Observer>
                </observers>
            </sales_order_payment_cancel>
            <sales_order_shipment_save_after>
                <observers>
                    <Delivra_DelivraWebHook_Model_Observer>
                        <class>Delivra_DelivraWebHook_Model_Observer</class>
                        <method>fulfillOrder</method>
                    </Delivra_DelivraWebHook_Model_Observer>
                </observers>
            </sales_order_shipment_save_after>
            <customer_save_after>
                <observers>
                    <Delivra_DelivraWebHook_Model_Observer>
                        <class>Delivra_DelivraWebHook_Model_Observer</class>
                        <method>updateCustomer</method>
                    </Delivra_DelivraWebHook_Model_Observer>
                </observers>
            </customer_save_after>
        </events>
        <resources>
            <delivrawebhook_setup>
                <setup>
                    <module>Delivra_DelivraWebHook</module>
                </setup>
            </delivrawebhook_setup>
        </resources>
        <helpers>
            <delivrawebhook>
                <class>Delivra_DelivraWebHook_Helper</class>
            </delivrawebhook>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <devlirawebhook_processqueue>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>delivrawebhook/observer::scheduledSend</model>
                </run>
            </devlirawebhook_processqueue>
            <devlirawebhook_abandonedcart>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>delivrawebhook/observer::processAbandonedCarts</model>
                </run>
            </devlirawebhook_abandonedcart>
        </jobs>
    </crontab>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <delivrawebhook>
                                            <title>Delivra Webhook Module Section</title>
                                        </delivrawebhook>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>